@charset "UTF-8";

@import "compass";

body {
	margin:50px;
	margin:50px;
	background-color:#f6f6f6;
	font-family: Helvetica, Arial;
}

body > h1 {
	text-align: center;
	text-transform: uppercase;
}

.weblime {
	width: 900px;
}

/* remove cursor from inactive code section */
.ace_hidden-cursors {
	opacity:0
}

.ace-letterpress {
	position: absolute;
	color: #F8F8F2;
	@include background-image(radial-gradient(color-stops(#2A2E30, #111414), center center));
}

.ace-letterpress .ace_gutter {
	color: #666666;
	background-color: #FFFFFF;
}

.ace-letterpress .ace_content {
	word-wrap: break-word;
}

.ace-letterpress .ace_print-margin {

}

.ace-letterpress .ace_scroller {

}

.ace-letterpress .ace_cursor {
	color: #F8F8F0;
}

.ace-letterpress .ace_marker-layer .ace_selection {
	background: #49483E;

}

.ace-letterpress.ace_multiselect .ace_selection.ace_start {
	box-shadow: 0 0 3px 0px #272822;
	border-radius: 2px
}

.ace-letterpress .ace_marker-layer .ace_step {
	background: rgb(102, 82, 0)
}

.ace-letterpress .ace_marker-layer .ace_bracket {
	margin: -1px 0 0 -1px;
	border: 1px solid #49483E
}

.ace-letterpress .ace_marker-layer .ace_active-line {
	background: #202020
}

.ace-letterpress .ace_gutter-active-line {
	background-color: #272727
}

.ace-letterpress .ace_marker-layer .ace_selected-word {
	border: 1px solid #49483E
}

.ace-letterpress .ace_invisible {
	color: #52524d
}

.ace-letterpress .ace_entity.ace_name.ace_tag,
.ace-letterpress .ace_keyword,
.ace-letterpress .ace_meta.ace_tag,
.ace-letterpress .ace_storage {
	color: #F92672
}

.ace-letterpress .ace_punctuation,
.ace-letterpress .ace_punctuation.ace_tag {
	color: #fff
}

.ace-letterpress .ace_constant.ace_character,
.ace-letterpress .ace_constant.ace_language,
.ace-letterpress .ace_constant.ace_numeric,
.ace-letterpress .ace_constant.ace_other {
	color: #AE81FF
}

.ace-letterpress .ace_invalid {
	color: #F8F8F0;
	background-color: #F92672
}

.ace-letterpress .ace_invalid.ace_deprecated {
	color: #F8F8F0;
	background-color: #AE81FF
}

.ace-letterpress .ace_support.ace_constant,
.ace-letterpress .ace_support.ace_function {
	color: #66D9EF
}

.ace-letterpress .ace_fold {
	background-color: #A6E22E;
	border-color: #F8F8F2
}

.ace-letterpress .ace_storage.ace_type,
.ace-letterpress .ace_support.ace_class,
.ace-letterpress .ace_support.ace_type {
	font-style: italic;
	color: #66D9EF
}

.ace-letterpress .ace_entity.ace_name.ace_function,
.ace-letterpress .ace_entity.ace_other,
.ace-letterpress .ace_entity.ace_other.ace_attribute-name,
.ace-letterpress .ace_variable {
	color: #A6E22E
}

.ace-letterpress .ace_variable.ace_parameter {
	font-style: italic;
	color: #FD971F
}

.ace-letterpress .ace_string {
	color: #E6DB74
}

.ace-letterpress .ace_comment {
	color: #75715E
}

.ace-letterpress .ace_indent-guide {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y
}