@charset "UTF-8";
/* line 5, main.scss */
body {
  margin: 50px;
  margin: 50px;
  background-color: #f6f6f6;
  font-family: Helvetica, Arial;
}

/* line 12, main.scss */
body > h1 {
  text-align: center;
  text-transform: uppercase;
}

/* line 17, main.scss */
.weblime {
  width: 900px;
}

/* remove cursor from inactive code section */
/* line 22, main.scss */
.ace_hidden-cursors {
  opacity: 0;
}

/* line 26, main.scss */
.ace-letterpress {
  position: absolute;
  color: #F8F8F2;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #2a2e30), color-stop(100%, #111414));
  background-image: -webkit-radial-gradient(center center, #2a2e30, #111414);
  background-image: -moz-radial-gradient(center center, #2a2e30, #111414);
  background-image: -o-radial-gradient(center center, #2a2e30, #111414);
  background-image: radial-gradient(center center, #2a2e30, #111414);
}

/* line 32, main.scss */
.ace-letterpress .ace_gutter {
  color: #666666;
  background-color: #FFFFFF;
}

/* line 37, main.scss */
.ace-letterpress .ace_content {
  word-wrap: break-word;
}

/* line 49, main.scss */
.ace-letterpress .ace_cursor {
  color: #F8F8F0;
}

/* line 53, main.scss */
.ace-letterpress .ace_marker-layer .ace_selection {
  background: #49483E;
}

/* line 58, main.scss */
.ace-letterpress.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #272822;
  border-radius: 2px;
}

/* line 63, main.scss */
.ace-letterpress .ace_marker-layer .ace_step {
  background: #665200;
}

/* line 67, main.scss */
.ace-letterpress .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #49483e;
}

/* line 72, main.scss */
.ace-letterpress .ace_marker-layer .ace_active-line {
  background: #202020;
}

/* line 76, main.scss */
.ace-letterpress .ace_gutter-active-line {
  background-color: #272727;
}

/* line 80, main.scss */
.ace-letterpress .ace_marker-layer .ace_selected-word {
  border: 1px solid #49483e;
}

/* line 84, main.scss */
.ace-letterpress .ace_invisible {
  color: #52524d;
}

/* line 91, main.scss */
.ace-letterpress .ace_entity.ace_name.ace_tag,
.ace-letterpress .ace_keyword,
.ace-letterpress .ace_meta.ace_tag,
.ace-letterpress .ace_storage {
  color: #f92672;
}

/* line 96, main.scss */
.ace-letterpress .ace_punctuation,
.ace-letterpress .ace_punctuation.ace_tag {
  color: white;
}

/* line 103, main.scss */
.ace-letterpress .ace_constant.ace_character,
.ace-letterpress .ace_constant.ace_language,
.ace-letterpress .ace_constant.ace_numeric,
.ace-letterpress .ace_constant.ace_other {
  color: #ae81ff;
}

/* line 107, main.scss */
.ace-letterpress .ace_invalid {
  color: #F8F8F0;
  background-color: #f92672;
}

/* line 112, main.scss */
.ace-letterpress .ace_invalid.ace_deprecated {
  color: #F8F8F0;
  background-color: #ae81ff;
}

/* line 118, main.scss */
.ace-letterpress .ace_support.ace_constant,
.ace-letterpress .ace_support.ace_function {
  color: #66d9ef;
}

/* line 122, main.scss */
.ace-letterpress .ace_fold {
  background-color: #A6E22E;
  border-color: #f8f8f2;
}

/* line 129, main.scss */
.ace-letterpress .ace_storage.ace_type,
.ace-letterpress .ace_support.ace_class,
.ace-letterpress .ace_support.ace_type {
  font-style: italic;
  color: #66d9ef;
}

/* line 137, main.scss */
.ace-letterpress .ace_entity.ace_name.ace_function,
.ace-letterpress .ace_entity.ace_other,
.ace-letterpress .ace_entity.ace_other.ace_attribute-name,
.ace-letterpress .ace_variable {
  color: #a6e22e;
}

/* line 141, main.scss */
.ace-letterpress .ace_variable.ace_parameter {
  font-style: italic;
  color: #fd971f;
}

/* line 146, main.scss */
.ace-letterpress .ace_string {
  color: #e6db74;
}

/* line 150, main.scss */
.ace-letterpress .ace_comment {
  color: #75715e;
}

/* line 154, main.scss */
.ace-letterpress .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y;
}
