/* line 5, main.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Helvetica, Arial;
}

/* line 12, main.scss */
.weblime {
  width: 900px;
}

/* line 16, main.scss */
.weblime .ace_scroller {
  left: 80px !important;
}

/* remove cursor from inactive code section */
/* line 21, main.scss */
.ace_hidden-cursors {
  opacity: 0;
}

/* line 25, main.scss */
.ace-letterpress {
  position: absolute;
  color: #F8F8F2;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #2a2e30), color-stop(100%, #111414));
  background-image: -webkit-radial-gradient(center center, #2a2e30, #111414);
  background-image: -moz-radial-gradient(center center, #2a2e30, #111414);
  background-image: -o-radial-gradient(center center, #2a2e30, #111414);
  background-image: radial-gradient(center center, #2a2e30, #111414);
}

/* line 31, main.scss */
.ace-letterpress .ace_gutter {
  color: #666666;
  background-color: #FFFFFF;
}

/* line 36, main.scss */
.ace-letterpress .ace_content {
  word-wrap: break-word;
}

/* line 48, main.scss */
.ace-letterpress .ace_cursor {
  color: #F8F8F0;
}

/* line 52, main.scss */
.ace-letterpress .ace_marker-layer .ace_selection {
  background: #49483E;
}

/* line 57, main.scss */
.ace-letterpress.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #272822;
  border-radius: 2px;
}

/* line 62, main.scss */
.ace-letterpress .ace_marker-layer .ace_step {
  background: #665200;
}

/* line 66, main.scss */
.ace-letterpress .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #49483E;
}

/* line 71, main.scss */
.ace-letterpress .ace_marker-layer .ace_active-line {
  background: #202020;
}

/* line 75, main.scss */
.ace-letterpress .ace_gutter-active-line {
  background-color: #dcdcdc;
}

/* line 79, main.scss */
.ace-letterpress .ace_marker-layer .ace_selected-word {
  border: 1px solid #49483E;
}

/* line 83, main.scss */
.ace-letterpress .ace_invisible {
  color: #52524d;
}

/* line 90, main.scss */
.ace-letterpress .ace_entity.ace_name.ace_tag,
.ace-letterpress .ace_keyword,
.ace-letterpress .ace_meta.ace_tag,
.ace-letterpress .ace_storage {
  color: #F92672;
}

/* line 95, main.scss */
.ace-letterpress .ace_punctuation,
.ace-letterpress .ace_punctuation.ace_tag {
  color: white;
}

/* line 102, main.scss */
.ace-letterpress .ace_constant.ace_character,
.ace-letterpress .ace_constant.ace_language,
.ace-letterpress .ace_constant.ace_numeric,
.ace-letterpress .ace_constant.ace_other {
  color: #ae81ff;
}

/* line 106, main.scss */
.ace-letterpress .ace_invalid {
  color: #F8F8F0;
  background-color: #f92672;
}

/* line 111, main.scss */
.ace-letterpress .ace_invalid.ace_deprecated {
  color: #F8F8F0;
  background-color: #ae81ff;
}

/* line 117, main.scss */
.ace-letterpress .ace_support.ace_constant,
.ace-letterpress .ace_support.ace_function {
  color: #66d9ef;
}

/* line 121, main.scss */
.ace-letterpress .ace_fold {
  background-color: #A6E22E;
  border-color: #f8f8f2;
}

/* line 128, main.scss */
.ace-letterpress .ace_storage.ace_type,
.ace-letterpress .ace_support.ace_class,
.ace-letterpress .ace_support.ace_type {
  font-style: italic;
  color: #66d9ef;
}

/* line 136, main.scss */
.ace-letterpress .ace_entity.ace_name.ace_function,
.ace-letterpress .ace_entity.ace_other,
.ace-letterpress .ace_entity.ace_other.ace_attribute-name,
.ace-letterpress .ace_variable {
  color: #a6e22e;
}

/* line 140, main.scss */
.ace-letterpress .ace_variable.ace_parameter {
  font-style: italic;
  color: #fd971f;
}

/* line 145, main.scss */
.ace-letterpress .ace_string {
  color: #e6db74;
}

/* line 149, main.scss */
.ace-letterpress .ace_comment {
  color: #75715e;
}

/* line 153, main.scss */
.ace-letterpress .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y;
}
